<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
    <virtualType name="Excellence\ExcellenceSlider\Model\Resource\Slider\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">excellence_excellenceslider_slider</argument>
            <argument name="resourceModel" xsi:type="string">Excellence\ExcellenceSlider\Model\ResourceModel\Slider</argument>
        </arguments>
    </virtualType>
 
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="excellenceslider_slider_grid_data_source" xsi:type="string">Excellence\ExcellenceSlider\Model\Resource\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>



<type name="Excellence\ExcellenceSlider\Model\Uploader">
    <arguments>
        <!-- Temporary file stored in pub/media/faq/tmp/icon -->
        <argument name="baseTmpPath" xsi:type="string">excellenceslider/tmp/images/file</argument>
        <argument name="basePath" xsi:type="string">excellenceslider/images/image_path</argument>
        <argument name="allowedExtensions" xsi:type="array">
            <item name="jpg" xsi:type="string">jpg</item>
            <item name="jpeg" xsi:type="string">jpeg</item>
            <item name="gif" xsi:type="string">gif</item>
            <item name="png" xsi:type="string">png</item>
        </argument>
    </arguments>
</type>
</config>
