<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
    <virtualType name="Excellence\ExcellenceSlider\Model\Resource\Slider\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">excellence_excellenceslider_slider</argument>
            <argument name="resourceModel" xsi:type="string">Excellence\ExcellenceSlider\Model\ResourceModel\Slider</argument>
        </arguments>
    </virtualType>
 
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="excellenceslider_slider_grid_data_source" xsi:type="string">Excellence\ExcellenceSlider\Model\Resource\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>